:root {
    --size: 6rem; /* Smaller images */
    --gap: 1rem;
    --duration: 80s; /* Slower movement */
  }
  
  .marquee-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Move to background */
    overflow: hidden;
    display: flex;
    justify-content: center;
  }
  
  .marquee {
    display: flex;
    flex-direction: column;
    gap: var(--gap);
    align-items: center;
    height: 100%;
    justify-content: center;
    position: relative;
  }
  
  .marquee__group {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--gap);
    animation: scroll-y var(--duration) linear infinite;
  }
  
  /* Fading effect at the top and bottom */
  .marquee-background::before,
  .marquee-background::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 20%; /* Adjust height of fade effect */
    left: 0;
    pointer-events: none;
  }
  
  .marquee-background::before {
    top: 0;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
  }
  
  .marquee-background::after {
    bottom: 0;
    background: linear-gradient(to top, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
  }
  
  .dark .marquee-background::before {
    background: linear-gradient(to bottom, rgba(24, 24, 24, 1), rgba(24, 24, 24, 0));
  }
  
  .dark .marquee-background::after {
    background: linear-gradient(to top, rgba(24, 24, 24, 1), rgba(24, 24, 24, 0));
  }
  
  .marquee-img {
    width: var(--size);
    height: auto;
  }
  
  @keyframes scroll-y {
    from { transform: translateY(0); }
    to { transform: translateY(-100%); }
  }
  