<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{page.description||default:site.description}}">
    <meta name="keywords" content="{{page.keywords||default:site.keywords}}">
    <meta name="author" content="{{page.author||default:site.author}}"">
    <meta name="google-site-verification" content="q9HfWKmQHrlnieSqTHlq5MiOqTiOszd12aXKa1_bH4s" />
    <title>{{ page.title||default:site.title }}</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.0.0/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" href="{{ site.baseurl }}assets/css/app.css">
    <link rel="stylesheet" href="{{ site.baseurl }}assets/css/animations.css">
    <link rel="stylesheet" href="{{ site.baseurl }}assets/css/blogsHeader.css">
    <link rel="shortcut icon" href="{{ site.baseurl }}/favicon.ico" type="image/x-icon">
</head>
<body>
    {% include header.html %}
    
    <main class="pt-24">
        {{page.description}}
        {{ content }}
    </main>
    
    {% include footer.html %}
</body>
</html>